
@media only screen and (min-width: 300px) {
    
  
    
    
  #container{
      width: 100%;
      height: 1310px;
     
      grid-template-areas: 
      
      'h h h h h h h h h h h h '
      'm m m m m m m m m m m m'
      'r r r r r r r r r r r r'
      'f f f f f f f f f f f f'
      ;
      
     
      
    }
    

    #header{
      width: 100%;
      height: 120px;
      grid-area: h;
     
      
    }

    #section_middol{
      width: 100%;
      height: 880px;
      
      grid-area: m;
      position: relative;
      
    }

    #hederimg{
      width: 100%px;
      height: 80px;
    }
    #hederimg img{
      width: 100%;
      height: 80px;
      
    }



    #nav{
      width: 100%;
      height: 40px;
      
      font-size: 15px;
    line-height: 40px;
    
    }




    #containner{
 
      width: 100%;
      height: 200px;

    }
  
    .slide{
     min-width: 100%;
      height: 200px; 
    }
    
  
    
    #next{
      
      font-size: 15px;
     
    }
    #prev{
      
      font-size: 15px;
     
    }
    #cont1{
      width: 100%;
      height: 1760px;
     
    }
    .mwrap {
      width: 100%;
      height: 460px;
      position: absolute; 
      top: 200px;
      padding: 20px;
      
      
    }
    
    .wrap {
      width: 100%;
      height: 280px;
     
      margin-top: 20px;
      position: relative;
      
    
      
    }
    
    .wrap img{
      width: 100%;
      height: 80%;
    }
    
    
    .wrap:nth-child(2){
      transform: translateX(0%)
    }
    
    .wrap:nth-child(3){
      transform:  translateY(0%)
    }
    
    
    .wrap:nth-child(4){
      transform: translateX(0%) translateY(0px)
    }
    .wrap:nth-child(5){
      transform: translateX(0%) translateY(0px)
    }
    
    
    .wrap button{
      width: 50%;
      height: 35px;
      background-color: rgb(86, 129, 75);
      color: whitesmoke;
      font-size: 15px;
      border: none;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%);
    }
    



    #cont2{
      width: 100%;
      height: 1760px;
      
    }
    
    #cont3{
      width: 100%;
      height: 880px;
      position: absolute;
      background-color: aliceblue;
      z-index: -2;
    }
    

    #cont4{
      width: 100%;
      height: 1760px;
      font-size: 17px;
      line-height: 21px;
      padding: 10px;
     
    }
    
    #cont4 ul{
      padding-left: 20px;
      line-height: 23px;
      
     
    }

    #cont4 h2{
      
      line-height: 35px;
      
     
    }

    #cont5{
      width: 100%;
      height: 880px;

     
    }

    #about_page{
      width: 100%;
      height: 440px;
    
    }
    
    #about_page input{
    width: 80%;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    
    
    }
    
    #about_page h1{
    
      font-size: 30px;
      
      
    }
    
    
    #about_page button{
      width: 40%;
      height: 30px;
      font-size: 15px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -10%);
      
    }
    
    #about_page input:nth-child(2){
      top: 40%;
    }
    
    #about_page input:nth-child(4){
      top: 60%;
    }
    
    #about_page input:nth-child(5){
      top: 70%;
    }
    
    #fotter{
      width: 100%;
      height: 30px;
      background-color:black;
      grid-area: f;
      color: whitesmoke;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
    }
    #news_later{
      width: 90%;
      height: 100px;
  font-size: 10px;
    }
    
    #news_later input{
      width: 65%;
      height: 30px;
      font-size: 15px;
      top: 60%;
      left: 10%;
      transform: translate(-10%, -40%);
    }
    
    #news_later button{
      width: 90px;
      height: 30px;
      font-size: 15px;
      top: 60%;
      left:  75%;
      transform: translate(-10%, -40%);
    }


    #section_right{
      width: 100%x;
      height: 880px ;
      
    }
    
    #proimg{
      width: 100%;
      height: 130px;
    
    
    }
    #proimg img{
      width: auto;
      height: 130px;
    }
    
    
    
    
    
    #hed{
      width: 100%;
      height: 30px;
      font-weight: 1000;
      font-size: 15px;
      line-height: 30px;
    }
    
    #hed:nth-child(5){
      top: 150px;
    }
    
    
    #hed:nth-child(7){
      top: 280px;
    }
    
    
    #pmes{
      width: 100%;
      height: 200px;
     
      font-size: 15px;
      padding: 15px;
     
    }
    
    #addr{
      width: 100%;
      height: 150px;
      
      position: absolute;
      top: 380px;
      padding: 15px;
    }
    
    #addr ul{
      font-size: 18px;
      list-style-type: none;
      line-height: 22px;
    }
    
    #map{
      width: 100%;
      height: 300px;
      
      position: absolute;
      top: 540px;
    }
    
    
    #map img{
      width: 100%;
      height: 100%;
    }



    #cosr{
      width: 100%;
      height: 380px;
   
     
      margin-top: 0px;
  display: block;
      position: relative;
    
    }
    
    .osr{
      width: 100%;
      height: 100px;
     font-size: 15px;
   
      text-align: center;
      
     
    }
      
    .osr:nth-child(1){
      width: 100%;
    }
    
    .osr:nth-child(2){
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      height: 60px;
      top: 10%;
    }

    .osr:nth-child(3){
      
      top: 10%;
    }



    .osr img{
      width: 50%;
      height: auto;
      
    }
    
    .osr ul{
   
      list-style-position: outside;
      font-size: 18px;
      padding-left: 40px;
      line-height: 22px;
    }
    
    
    .osr i{
      position: absolute;
      font-size: larger;
      top: 90%;
      left: 0%;
      transform: translate(2%, -10%);
    }
    


    #teacher_cont {
      width: 100%;
      height: 1760px;
 
     
      
    }
    #teacher_contt {
      width: 100%;
      height: 1760px;

    
    }
    
    #teacherr_contt {
      width: 100%;
      height: 1760px;
  
    
    }
    
    #teaccher_cont {
      width: 100%;
      height: 1760px;
    
    
    }
    #teachher_cont {
      width: 100%;
      height: 1760px;
   
    
    }

    
    .timg {
      width: 100%;
      height: 285px;
      position: relative;
      top: 20px;
      left: 0%;

    }
    
    .timg img{
      width: auto;
      height: 80%;
    }
    
    .timg:hover{
      scale: 1.05;
    }
    
    
    
    .tim1{
      left: 0%;
    }
    
    .tim2{
      left: 0%;
    }
    
    .tim3{
      left: 0%;
    }
    
    .tim4{
      left: 0%;
      top: 10px;
    }
    
    .tim5{
      top: 0px;
      left: 0%;
    }
    
    
    .tim6{
      top: 0px;
      left: 0%;
    }
    
    .ctea{
      width: 20%;
      height: 30px;
      font-size: 13px;
      margin-top: 10px;
      line-height: 30px;
     
     
      
    }
    
    
    



}
@media only screen and (max-width: 375px) {
    
  
    
    
  #container{
      width: 100%;
      height: 1310px;
     
      grid-template-areas: 
      
      'h h h h h h h h h h h h '
      'm m m m m m m m m m m m'
      'r r r r r r r r r r r r'
      'f f f f f f f f f f f f'
      ;
      
     
      
    }
    

    #header{
      width: 100%;
      height: 120px;
      grid-area: h;
     
      
    }

    #section_middol{
      width: 100%;
      height: 880px;
      
      grid-area: m;
      position: relative;
      
    }

    #hederimg{
      width: 100%px;
      height: 80px;
    }
    #hederimg img{
      width: 100%;
      height: 80px;
      
    }



    #nav{
      width: 100%;
      height: 40px;
      
      font-size: 15px;
    line-height: 40px;
    
    }




    #containner{
 
      width: 100%;
      height: 200px;

    }
  
    .slide{
     min-width: 100%;
      height: 200px; 
    }
    
  
    
    #next{
      
      font-size: 15px;
     
    }
    #prev{
      
      font-size: 15px;
     
    }
    #cont1{
      width: 100%;
      height: 1760px;
     
    }
    .mwrap {
      width: 100%;
      height: 460px;
      position: absolute; 
      top: 200px;
      padding: 20px;
      
      
    }
    
    .wrap {
      width: 100%;
      height: 280px;
     
      margin-top: 20px;
      position: relative;
      
    
      
    }
    
    .wrap img{
      width: 100%;
      height: 80%;
    }
    
    
    .wrap:nth-child(2){
      transform: translateX(0%)
    }
    
    .wrap:nth-child(3){
      transform:  translateY(0%)
    }
    
    
    .wrap:nth-child(4){
      transform: translateX(0%) translateY(0px)
    }
    .wrap:nth-child(5){
      transform: translateX(0%) translateY(0px)
    }
    
    
    .wrap button{
      width: 50%;
      height: 35px;
      background-color: rgb(86, 129, 75);
      color: whitesmoke;
      font-size: 15px;
      border: none;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%);
    }
    



    #cont2{
      width: 100%;
      height: 1760px;
      
    }
    
    #cont3{
      width: 100%;
      height: 880px;
      position: absolute;
      background-color: aliceblue;
      z-index: -2;
    }
    

    #cont4{
      width: 100%;
      height: 1760px;
      font-size: 17px;
      line-height: 21px;
      padding: 10px;
     
    }
    
    #cont4 ul{
      padding-left: 20px;
      line-height: 23px;
      
     
    }

    #cont4 h2{
      
      line-height: 35px;
      
     
    }

    #cont5{
      width: 100%;
      height: 880px;

     
    }

    #about_page{
      width: 100%;
      height: 440px;
    
    }
    
    #about_page input{
    width: 80%;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    
    
    }
    
    #about_page h1{
    
      font-size: 30px;
      
      
    }
    
    
    #about_page button{
      width: 40%;
      height: 30px;
      font-size: 15px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -10%);
      
    }
    
    #about_page input:nth-child(2){
      top: 40%;
    }
    
    #about_page input:nth-child(4){
      top: 60%;
    }
    
    #about_page input:nth-child(5){
      top: 70%;
    }
    
    #fotter{
      width: 100%;
      height: 30px;
      background-color:black;
      grid-area: f;
      color: whitesmoke;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
    }
    #news_later{
      width: 90%;
      height: 100px;
  font-size: 10px;
    }
    
    #news_later input{
      width: 65%;
      height: 30px;
      font-size: 15px;
      top: 60%;
      left: 10%;
      transform: translate(-10%, -40%);
    }
    
    #news_later button{
      width: 90px;
      height: 30px;
      font-size: 15px;
      top: 60%;
      left:  75%;
      transform: translate(-10%, -40%);
    }


    #section_right{
      width: 100%x;
      height: 880px ;
      
    }
    
    #proimg{
      width: 100%;
      height: 130px;
    
    
    }
    #proimg img{
      width: auto;
      height: 130px;
    }
    
    
    
    
    
    #hed{
      width: 100%;
      height: 30px;
      font-weight: 1000;
      font-size: 15px;
      line-height: 30px;
    }
    
    #hed:nth-child(5){
      top: 150px;
    }
    
    
    #hed:nth-child(7){
      top: 280px;
    }
    
    
    #pmes{
      width: 100%;
      height: 200px;
     
      font-size: 15px;
      padding: 15px;
     
    }
    
    #addr{
      width: 100%;
      height: 150px;
      
      position: absolute;
      top: 380px;
      padding: 15px;
    }
    
    #addr ul{
      font-size: 18px;
      list-style-type: none;
      line-height: 22px;
    }
    
    #map{
      width: 100%;
      height: 300px;
      
      position: absolute;
      top: 540px;
    }
    
    
    #map img{
      width: 100%;
      height: 100%;
    }



    #cosr{
      width: 100%;
      height: 380px;
   
     
      margin-top: 0px;
  display: block;
      position: relative;
    
    }
    
    .osr{
      width: 100%;
      height: 100px;
     font-size: 15px;
   
      text-align: center;
      
     
    }
      
    .osr:nth-child(1){
      width: 100%;
    }
    
    .osr:nth-child(2){
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      height: 60px;
      top: 10%;
    }

    .osr:nth-child(3){
      
      top: 10%;
    }



    .osr img{
      width: 50%;
      height: auto;
      
    }
    
    .osr ul{
   
      list-style-position: outside;
      font-size: 18px;
      padding-left: 40px;
      line-height: 22px;
    }
    
    
    .osr i{
      position: absolute;
      font-size: larger;
      top: 90%;
      left: 0%;
      transform: translate(2%, -10%);
    }
    


    #teacher_cont {
      width: 100%;
      height: 1760px;
 
     
      
    }
    #teacher_contt {
      width: 100%;
      height: 1760px;

    
    }
    
    #teacherr_contt {
      width: 100%;
      height: 1760px;
  
    
    }
    
    #teaccher_cont {
      width: 100%;
      height: 1760px;
    
    
    }
    #teachher_cont {
      width: 100%;
      height: 1760px;
   
    
    }

    
    .timg {
      width: 100%;
      height: 285px;
      position: relative;
      top: 20px;
      left: 0%;

    }
    
    .timg img{
      width: auto;
      height: 80%;
    }
    
    .timg:hover{
      scale: 1.05;
    }
    
    
    
    .tim1{
      left: 0%;
    }
    
    .tim2{
      left: 0%;
    }
    
    .tim3{
      left: 0%;
    }
    
    .tim4{
      left: 0%;
      top: 10px;
    }
    
    .tim5{
      top: 0px;
      left: 0%;
    }
    
    
    .tim6{
      top: 0px;
      left: 0%;
    }
    
    .ctea{
      width: 20%;
      height: 30px;
      font-size: 13px;
      margin-top: 10px;
      line-height: 30px;
     
     
      
    }
    
    
    



}

@media only screen and (max-width: 475px) {
    
  
  
  
  #container{
      width: 100%;
      height: 1310px;
   
      grid-template-areas: 
      
      'h h h h h h h h h h h h '
      'm m m m m m m m m m m m'
      'r r r r r r r r r r r r'
      'f f f f f f f f f f f f'
      ;
      
     
      
    }
    

    #header{
      width: 100%;
      height: 130px;
      grid-area: h;
      
     
      
    }

    #section_middol{
      width: 100%;
      height: 880px;
      
      grid-area: m;
      position: relative;
      
    }

    #hederimg{
      width: 100%;
      height: 100px;
    }
    #hederimg img{
      width: 100%;
      height: 100px;
      
    }



    #nav{
      width: 100%;
      height: 30px;
   
      font-size: 12px;
    line-height: 30px;
    
    }




    #containner{

      width: 100%;
      height: 240px;

    }
  
    .slide{
     min-width: 100%;
      height: 240px; 
    }
    
  
    
    #next{
      
      font-size: 15px;
     
    }
    #prev{
      
      font-size: 15px;
     
    }
    #cont1{
      width: 100%;
      height: 1760px;
     
    }
    .mwrap {
      width: 100%;
      height: 460px;
      position: absolute; 
      top: 230px;
      padding: 20px;
      
      
    }
    
    .wrap {
      width: 100%;
      height: 280px;
     
      margin-top: 20px;
      position: relative;
      
    
      
    }
    
    .wrap img{
      width: 100%;
      height: 80%;
    }
    
    
    .wrap:nth-child(2){
      transform: translateX(0%)
    }
    
    .wrap:nth-child(3){
      transform:  translateY(0%)
    }
    
    
    .wrap:nth-child(4){
      transform: translateX(0%) translateY(0px)
    }
    .wrap:nth-child(5){
      transform: translateX(0%) translateY(0px)
    }
    
    
    .wrap button{
      width: 50%;
      height: 35px;
      background-color: rgb(86, 129, 75);
      color: whitesmoke;
      font-size: 15px;
      border: none;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%);
    }
    



    #cont2{
      width: 100%;
      height: 1760px;
      
    }
    
    #cont3{
      width: 100%;
      height: 880px;
      position: absolute;
      background-color: aliceblue;
      z-index: -2;
    }
    

    #cont4{
      width: 100%;
      height: 1760px;
      font-size: 17px;
      line-height: 23px;
      padding: 10px;
     
    }
    
    #cont4 ul{
      padding-left: 20px;
      line-height: 23px;
      
     
    }

    #cont4 h2{
      
      line-height: 35px;
      
     
    }

    #cont5{
      width: 100%;
      height: 880px;

     
    }

    #about_page{
      width: 100%;
      height: 440px;
    
    }
    
    #about_page input{
    width: 80%;
    height: 40px;
    font-size: 18px;
    line-height: 30px;
    
    
    }
    
    #about_page h1{
    
      font-size: 35px;
      
      
    }
    
    
    #about_page button{
      width: 50%;
      height: 30px;
      font-size: 18px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -10%);
      
    }
    
    #about_page input:nth-child(2){
      top: 30%;
    }
    
    #about_page input:nth-child(3){
      top: 43%;
    }
    
    #about_page input:nth-child(4){
      top: 56%;
    }
    

    #about_page input:nth-child(5){
      top: 70%;
    }
    
    #fotter{
      width: 100%;
      height: 50px;
      background-color:black;
      grid-area: f;
      color: whitesmoke;
      text-align: center;
      font-size: 20px;
      line-height: 50px;
    }


    #news_later{
      width: 90%;
      height: 100px;
  font-size: 10px;
    }
    
    #news_later input{
      width: 65%;
      height: 30px;
      font-size: 15px;
      top: 60%;
      left: 10%;
      transform: translate(-10%, -40%);
    }
    
    #news_later button{
      width: 90px;
      height: 30px;
      font-size: 15px;
      top: 60%;
      left:  75%;
      transform: translate(-10%, -40%);
    }


    #section_right{
      width: 475px;
      height: 880px ;
      
    }
    
    #proimg{
      width: 100%;
      height: 160px;
    
    
    }
    #proimg img{
      width: auto;
      height: 160px;
    }
    
    
    
    
    
    #hed{
      width: 100%;
      height: 40px;
      font-weight: 1000;
      font-size: 20px;
      line-height: 40px;
    }
    
    #hed:nth-child(5){
      top: 200px;
    }
    
    
    #hed:nth-child(7){
      top: 330px;
    }
    
    
    #pmes{
      width: 100%;
      height: 200px;
     
      font-size: 20px;
      padding: 15px;
     
    }
    
    #addr{
      width: 100%;
      height: 150px;
      
      position: absolute;
      top: 480px;
      padding: 15px;
    }
    
    #addr ul{
      font-size: 22px;
      list-style-type: none;
      line-height: 22px;
    }
    
    #map{
      width: 100%;
      height: 200px;
      
      position: absolute;
      top: 660px;
    }
    
    
    #map img{
      width: 100%;
      height: 100%;
    }



    #cosr{
      width: 100%;
      height: 352px;
   
     
      margin-top: 0px;
  display: block;
      position: relative;
    
    }
    
    .osr{
      width: 100%;
      height: 100px;
     font-size: 15px;
   
      text-align: center;
      
     
    }
      
    .osr:nth-child(1){
      width: 100%;
    }
    
    .osr:nth-child(2){
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      height: 60px;
    }


    .osr img{
      width: 50%;
      height: auto;
      
    }
    
    .osr ul{
   
      list-style-position: outside;
      font-size: 18px;
      padding-left: 40px;
      line-height: 22px;
    }
    
    
    .osr i{
      position: absolute;
      font-size: larger;
      top: 90%;
      left: 0%;
      transform: translate(2%, -10%);
    }
    


    #teacher_cont {
      width: 100%;
      height: 1760px;
 
     
      
    }
    #teacher_contt {
      width: 100%;
      height: 1760px;

    
    }
    
    #teacherr_contt {
      width: 100%;
      height: 1760px;
  
    
    }
    
    #teaccher_cont {
      width: 100%;
      height: 1760px;
    
    
    }
    #teachher_cont {
      width: 100%;
      height: 1760px;
   
    
    }

    
    .timg {
      width: 100%;
      height: 285px;
      position: relative;
      top: 20px;
      left: 0%;

    }
    
    .timg img{
      width: auto;
      height: 80%;
    }
    
    .timg:hover{
      scale: 1.05;
    }
    
    
    
    .tim1{
      left: 0%;
    }
    
    .tim2{
      left: 0%;
    }
    
    .tim3{
      left: 0%;
    }
    
    .tim4{
      left: 0%;
      top: 10px;
    }
    
    .tim5{
      top: 0px;
      left: 0%;
    }
    
    
    .tim6{
      top: 0px;
      left: 0%;
    }
    
    .ctea{
      width: 20%;
      height: 30px;
      font-size: 10px;
      margin-top: 10px;
      line-height: 30px;
     
     
      
    }
    
    
    



}

@media only screen and (min-width: 675px) {
    
  
    
    
  #container{
      width: 100%;
      height: 1060px;
      
   
      grid-template-areas: 
      
      'h h h h h h h h h h h h '
      'm m m m m m m m m m m r'
      'f f f f f f f f f f f f'
      ;
      
     
      
    }
    

    #header{
      width: 100%;
      height: 160px;
      grid-area: h;
     
      
    }

    #section_middol{
      width: 100%;
      height: 880px;
      
      grid-area: m;
      position: relative;
      
    }

    #hederimg{
      width: 100%;
      height: 120px;
    }


  #hederimg img{
      width: 100%;
      height: 120px;
      
    }



    #nav{
      width: 100%;
      height: 40px;
      
      font-size: 18px;
    line-height: 40px;
    
    }




    #containner{
 
      width: 100%;
      height: 210px;

    }
  
    .slide{
     min-width: 100%;
      height: 210px; 
    }
    
  
    
    #next{
      
      font-size: 15px;
     
    }
    #prev{
      
      font-size: 15px;
     
    }
    #cont1{
      width: 100%;
      height: 880px;
     
    }
    .mwrap {
      width: 100%;
      height: 460px;
      position: absolute; 
      top: 200px;
      padding: 10px;
      
      
    }
    
    .wrap {
      width: 45%;
      height: 200px;
     
      margin-top: 10px;
      position:absolute;
      
    
      
    }
    
    .wrap img{
      width: 100%;
      height: 80%;
    }
    
    
    .wrap:nth-child(2){
      transform: translateX(110%)
    }
    
    .wrap:nth-child(3){
      transform:  translateY(108%)
    }
    
    
    .wrap:nth-child(4){
      transform: translateX(110%) translateY(108%)
    }
    .wrap:nth-child(5){
      transform: translateX(52%) translateY(216%)
    }
    
    
    .wrap button{
      width: 50%;
      height: 30px;
      
      font-size: 12px;
     
    }
    



    #cont2{
      width: 100%;
      height: 880px;
      
    }
    
    #cont3{
      width: 100%;
      height: 880px;
     
    }
    

    #cont4{
      width: 100%;
      height: 880px;
      font-size: 10px;
      line-height: 14px;
      padding: 10px;
     
    }
    
    #cont4 ul{
      padding-left: 13px;
      line-height: 15px;
      
     
    }

    #cont4 h2{
      
      line-height: 30px;
      
     
    }

    #cont5{
      width: 100%;
      height: 880px;

     
    }

    #about_page{
      width: 100%;
      height: 440px;
    
    }
    
    #about_page input{
    width: 70%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    
    
    }
    
    #about_page h1{
    
      font-size: 45px;
      
      
    }
    
    
    #about_page button{
      width: 40%;
      height: 40px;
      font-size: 20px;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -10%);
      
    }
    
    #about_page input:nth-child(2){
      top: 36%;
    }
    
    #about_page input:nth-child(4){
      top: 63%;
    }
    
    #about_page input:nth-child(5){
      top: 76%;
    }
    
    #fotter{
      width: 100%;
      height: 40px;
      background-color:black;
      grid-area: f;
      color: whitesmoke;
      text-align: center;
      font-size: 20px;
      line-height: 40px;
    }
    #news_later{
      width: 90%;
      height: 100px;
  font-size: 10px;
    }
    
    #news_later input{
      width: 65%;
      height: 30px;
      font-size: 15px;
      top: 60%;
      left: 10%;
      transform: translate(-10%, -40%);
    }
    
    #news_later button{
      width: 90px;
      height: 30px;
      font-size: 15px;
      top: 60%;
      left:  75%;
      transform: translate(-10%, -40%);
    }


    #section_right{
      width: 100%;
      height: 880px ;
      
    }
    
    #proimg{
      width: 100%;
      height: 150px;
    
    
    }
    #proimg img{
      width: auto;
      height: 150px;
    }
    
    
    
    
    
    #hed{
      width: 100%;
      height: 30px;
      font-weight: 1000;
      font-size: 16px;
      line-height: 30px;
    }
    
    #hed:nth-child(5){
      top: 210px;
    }
    
    
    #hed:nth-child(7){
      top: 320px;
    }
    
    
    #pmes{
      width: 100%;
      height: 230px;
     
      font-size: 13px;
      padding: 12px;
     
    }
    
    #addr{
      width: 100%;
      height: 150px;
      
      position: absolute;
      top: 450px;
      padding: 12px;
    }
    
    #addr ul{
      font-size: 12px;
      list-style-type: none;
      line-height: 22px;
    }
    
    #map{
      width: 100%;
      height: 280px;
      
      position: absolute;
      top: 600px;
    }
    
    
    #map img{
      width: 100%;
      height: 100%;
    }



    #cosr{
      width: 100%;
      height: 160px;
  
     
      margin-top: 10px;
  display: flex;
      position: relative;
    
    }
    
    .osr{
      width: 100%;
      height: 160px;
     font-size: 15px;
   
      text-align: center;
      
     
    }
      
    .osr:nth-child(1){
      width: 45%;
      padding-top: 50px;
    }
    
    .osr:nth-child(2){
      
      width: 35%;
      padding-top: 70px;
      padding-bottom: 0px;
      height: 160px;
   
      font-size: 7px;
      
    }

    .osr:nth-child(3){
    height: 160px;
     
    }


    .osr img{
      width: 80%;
      height: auto;
      
    }
    
    .osr ul{
   
      list-style-position: outside;
      font-size: 12px;
      padding-left: 20px;
      line-height: 22px;
    }
    .osr h1{
   
      list-style-position: outside;
      font-size: 18px;
      padding-left: 40px;
      line-height: 22px;
    }

    
    
    .osr i{
      position: absolute;
      font-size: larger;
      top: 50%;
      left: -2%;
      transform: translate(2%, -10%);
      font-size: 12px;
    }
    


    #teacher_cont {
      width: 100%;
      height: 880px;
 
     
      
    }
    #teacher_contt {
      width: 100%;
      height: 880px;

    
    }
    
    #teacherr_contt {
      width: 100%;
      height: 880px;
  
    
    }
    
    #teaccher_cont {
      width: 100%;
      height: 880px;
    
    
    }
    #teachher_cont {
      width: 100%;
      height: 880px;
   
    
    }

    
    .timg {
      width: 50%;
      height: 250px;
      position: absolute;
      font-size: 12px;
      top: 20px;
      left: 0%;

    }
    
    .timg img{
      width: auto;
      height: 80%;
    }
    
    .timg:hover{
      scale: 1.05;
    }
    
    
    
    .tim1{
      left: 0%;
    }
    
    .tim2{
      left: 50%;
    }
    
    .tim3{
      top: 270px;
      left: 0%;
    }
    
    .tim4{
      left: 50%;
      top: 270px;
    }
    
    .tim5{
      top: 540px;
      left: 0%;
    }
    
    
    .tim6{
      top: 540px;
      left: 50%;
    }
    
    .ctea{
      width: 20%;
      height: 30px;
      font-size: 16px;
      margin-top: 10px;
      line-height: 30px;
     
     
      
    }
    
    
    



}

@media only screen and (min-width: 875px) {
    
  
    
    
  #container{
      width: 100%;
      height: 1230px;
     
   
      grid-template-areas: 
      
      'h h h h h h h h h h h h '
      'm m m m m m m m m m m r'
      'f f f f f f f f f f f f'
      ;
      
     
      
    }
    

    #header{
      width: 100%;
      height: 200px;
      grid-area: h;
     
      
    }

    #section_middol{
      width: 100%;
      height: 1050px;
      
      grid-area: m;
      position: relative;
      
    }

    #hederimg{
      width: 100%;
      height: 160px;
    }


  #hederimg img{
      width: 100%;
      height: 160px;
      
    }



    #nav{
      width: 100%;
      height: 40px;
      
      font-size: 20px;
    line-height: 40px;
    
    }




    #containner{
 
      width: 100%;
      height: 280px;

    }
  
    .slide{
     min-width: 100%;
      height: 280px; 
    }
    
  
    
    #next{
      
      font-size: 15px;
     
    }
    #prev{
      
      font-size: 15px;
     
    }
    #cont1{
      width: 100%;
      height: 1050px;
     
    }
    .mwrap {
      width: 100%;
      height: 460px;
      position: absolute; 
      top: 270px;
      padding: 20px;
      
      
    }
    
    .wrap {
      width: 45%;
      height: 230px;
     
      margin-top: 10px;
      position:absolute;
      
    
      
    }
    
    .wrap img{
      width: 100%;
      height: 80%;
    }
    
    
    .wrap:nth-child(2){
      transform: translateX(110%)
    }
    
    .wrap:nth-child(3){
      transform:  translateY(108%)
    }
    
    
    .wrap:nth-child(4){
      transform: translateX(110%) translateY(108%)
    }
    .wrap:nth-child(5){
      transform: translateX(52%) translateY(216%)
    }
    
    
    .wrap button{
      width: 50%;
      height: 30px;
      
      font-size: 12px;
     
    }
    



    #cont2{
      width: 100%;
      height: 1050px;
      
    }
    
    #cont3{
      width: 100%;
      height: 1050px;
     
    }
    

    #cont4{
      width: 100%;
      height: 1050px;
      font-size: 13px;
      line-height: 18px;
      padding: 10px;
     
    }
    
    #cont4 ul{
      padding-left: 13px;
      line-height: 20px;
      
     
    }

    #cont4 h2{
      
      line-height: 35px;
      
     
    }

    #cont5{
      width: 100%;
      height: 1050px;

     
    }

    #about_page{
      width: 100%;
      height: 600px;
    
    }
    
    #about_page input{
    width: 70%;
    height: 50px;
    font-size: 19px;
    line-height: 50px;
    
    
    }
    
    #about_page h1{
    
      font-size: 50px;
      
      
    }
    
    
    #about_page button{
      width: 40%;
      height: 50px;
      font-size: 22px;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -10%);
      
    }
    
    #about_page input:nth-child(2){
      top: 36%;
    }
    
    #about_page input:nth-child(4){
      top: 63%;
    }
    
    #about_page input:nth-child(5){
      top: 76%;
    }
    
    #fotter{
      width: 100%;
      height: 40px;
      background-color:black;
      grid-area: f;
      color: whitesmoke;
      text-align: center;
      font-size: 23px;
      line-height: 40px;
    }
    #news_later{
      width: 90%;
      height: 150px;
  font-size: 13px;
    }
    
    #news_later input{
      width: 70%;
      height: 40px;
      font-size: 15px;
      top: 60%;
      left: 10%;
      transform: translate(-10%, -40%);
    }
    
    #news_later button{
      width: 100px;
      height: 40px;
      font-size: 18px;
      top: 60%;
      left:  79%;
      transform: translate(-10%, -40%);
    }


    #section_right{
      width: 100%;
      height: 1050px ;
      
    }
    
    #proimg{
      width: 100%;
      height: 200px;
    
    
    }
    #proimg img{
      width: auto;
      height: 200px;
    }
    
    
    
    
    
    #hed{
      width: 100%;
      height: 30px;
      font-weight: 1000;
      font-size: 16px;
      line-height: 30px;
    }
    
    #hed:nth-child(5){
      top: 240px;
    }
    
    
    #hed:nth-child(7){
      top: 380px;
    }
    
    
    #pmes{
      width: 100%;
      height: 280px;
     
      font-size: 15px;
      padding: 12px;
     
    }
    
    #addr{
      width: 100%;
      height: 150px;
      
      position: absolute;
      top: 540px;
      padding: 12px;
    }
    
    #addr ul{
      font-size: 15px;
      list-style-type: none;
      line-height: 22px;
    }
    
    #map{
      width: 100%;
      height: 320px;
      
      position: absolute;
      top: 720px;
    }
    
    
    #map img{
      width: 100%;
      height: 100%;
    }



    #cosr{
      width: 100%;
      height: 200px;
  
     
      margin-top: 10px;
  display: flex;
      position: relative;
    
    }
    
    .osr{
      width: 100%;
      height: 200px;
     font-size: 15px;
   
      text-align: center;
      
     
    }
      
    .osr:nth-child(1){
      width: 50%;
      padding-top: 60px;
    }
    
    .osr:nth-child(2){
      
      width: 50%;
      padding-top: 95px;
      padding-bottom: 0px;
      height: 160px;
   
      font-size: 8px;
      
    }

    .osr:nth-child(3){
    height: 200px;
    padding-top: 20px;
     
    }


    .osr img{
      width: 80%;
      height: auto;
      
    }
    
    .osr ul{
   
      list-style-position: outside;
      font-size: 15px;
      padding-left: 20px;
      line-height: 22px;
    }
    .osr h1{
   
      list-style-position: outside;
      font-size: 20px;
      padding-left: 40px;
      line-height: 22px;
    }

    
    
    .osr i{
      position: absolute;
      font-size: larger;
      top: 50%;
      left: -2%;
      transform: translate(2%, -10%);
      font-size: 12px;
    }
    


    #teacher_cont {
      width: 100%;
      height: 1050px;
 
     
      
    }
    #teacher_contt {
      width: 100%;
      height: 1050px;

    
    }
    
    #teacherr_contt {
      width: 100%;
      height: 1050px;
  
    
    }
    
    #teaccher_cont {
      width: 100%;
      height: 1050px;
    
    
    }
    #teachher_cont {
      width: 100%;
      height: 1050px;
   
    
    }

    
    .timg {
      width: 50%;
      height: 300px;
      position: absolute;
      font-size: 12px;
      top: 20px;
      left: 0%;

    }
    
    .timg img{
      width: auto;
      height: 80%;
    }
    
    .timg:hover{
      scale: 1.05;
    }
    
    
    
    .tim1{
      left: 0%;
    }
    
    .tim2{
      left: 50%;
    }
    
    .tim3{
      top: 310px;
      left: 0%;
    }
    
    .tim4{
      left: 50%;
      top: 310px;
    }
    
    .tim5{
      top: 610px;
      left: 0%;
    }
    
    
    .tim6{
      top: 610px;
      left: 50%;
    }
    
    .ctea{
      width: 20%;
      height: 30px;
      font-size: 16px;
      margin-top: 10px;
      line-height: 30px;
     overflow: hidden;
     
      
    }
    
    
    



}

@media only screen and (min-width: 1075px) {
    
  
    
    
  #container{
      width: 100%;
      height: 1500px;
      
   
      grid-template-areas: 
      
      'h h h h h h h h h h h h '
      'm m m m m m m m m m m r'
      'f f f f f f f f f f f f'
      ;
      
     
      
    }
    

    #header{
      width: 100%;
      height: 220px;
      grid-area: h;
     
      
    }

    #section_middol{
      width: 100%;
      height: 1270px;
      
      grid-area: m;
      position: relative;
      
    }

    #hederimg{
      width: 100%;
      height: 180px;
    }


  #hederimg img{
      width: 100%;
      height: 180px;
      
    }



    #nav{
      width: 100%;
      height: 60px;
      
      font-size: 20px;
    line-height: 40px;
    
    }
.meno{
height: 60px;
}



    #containner{
 
      width: 100%;
      height: 330px;

    }
  
    .slide{
     min-width: 100%;
      height: 330px; 
    }
    
  
    
    #next{
      
      font-size: 15px;
     
    }
    #prev{
      
      font-size: 15px;
     
    }
    #cont1{
      width: 100%;
      height: 1270px;
     
    }
    .mwrap {
      width: 100%;
      height: 460px;
      position: absolute; 
      top: 320px;
      padding: 20px;
      
      
    }
    
    .wrap {
      width: 45%;
      height: 280px;
     
      margin-top: 10px;
      position:absolute;
      
    
      
    }
    
    .wrap img{
      width: 100%;
      height: 80%;
    }
    
    
    .wrap:nth-child(2){
      transform: translateX(110%)
    }
    
    .wrap:nth-child(3){
      transform:  translateY(108%)
    }
    
    
    .wrap:nth-child(4){
      transform: translateX(110%) translateY(108%)
    }
    .wrap:nth-child(5){
      transform: translateX(52%) translateY(216%)
    }
    
    
    .wrap button{
      width: 50%;
      height: 40px;
      
      font-size: 18px;
     
    }
    



    #cont2{
      width: 100%;
      height: 1270px;
      
    }
    
    #cont3{
      width: 100%;
      height: 1270px;
     
    }
    

    #cont4{
      width: 100%;
      height: 1270px;
      font-size: 16px;
      line-height: 22px;
      padding: 15px;
     
    }
    
    #cont4 ul{
      padding-left: 13px;
      line-height: 25px;
      
     
    }

    #cont4 h2{
      
      line-height: 40px;
      
     
    }

    #cont5{
      width: 100%;
      height: 1270px;

     
    }

    #about_page{
      width: 100%;
      height: 800px;
    
    }
    
    #about_page input{
    width: 70%;
    height: 50px;
    font-size: 19px;
    line-height: 50px;
    
    
    }
    
    #about_page h1{
    
      font-size: 50px;
      
      
    }
    
    
    #about_page button{
      width: 40%;
      height: 50px;
      font-size: 22px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -10%);
      
    }
    
    #about_page input:nth-child(2){
      top: 40%;
    }
    
    #about_page input:nth-child(4){
      top: 60%;
    }
    
    #about_page input:nth-child(5){
      top: 70%;
    }
    
    #fotter{
      width: 100%;
      height: 40px;
      background-color:black;
      grid-area: f;
      color: whitesmoke;
      text-align: center;
      font-size: 20px;
      line-height: 40px;
    }
    #news_later{
      width: 90%;
      height: 200px;
  font-size: 15px;
    }
    
    #news_later input{
      width: 70%;
      height: 50px;
      font-size: 18px;
      top: 60%;
      left: 10%;
      transform: translate(-10%, -40%);
    }
    
    #news_later button{
      width: 120px;
      height: 50px;
      font-size: 20px;
      top: 60%;
      left:  79%;
      transform: translate(-10%, -40%);
    }


    #section_right{
      width: 100%;
      height: 1270px ;
      
    }
    
    #proimg{
      width: 100%;
      height: 250px;
    
    
    }
    #proimg img{
      width: auto;
      height: 240px;
    }
    
    
    
    
    
    #hed{
      width: 100%;
      height: 30px;
      font-weight: 1000;
      font-size: 16px;
      line-height: 30px;
    }
    
    #hed:nth-child(5){
      top: 340px;
    }
    
    
    #hed:nth-child(7){
      top: 520px;
    }
    
    
    #pmes{
      width: 100%;
      height: 280px;
     
      font-size: 18px;
      line-height: 20px;
      padding: 12px;
     
    }
    
    #addr{
      width: 100%;
      height: 150px;
      
      position: absolute;
      top: 690px;
      padding: 12px;
    }
    
    #addr ul{
      font-size: 18px;
      list-style-type: none;
      line-height: 25px;
    }
    
    #map{
      width: 100%;
      height: 320px;
      
      position: absolute;
      top: 920px;
    }
    
    
    #map img{
      width: 100%;
      height: 100%;
    }



    #cosr{
      width: 100%;
      height: 240px;
  
     
      margin-top: 10px;
  display: flex;
      position: relative;
    
    }
    
    .osr{
      width: 100%;
      height: 240px;
     font-size: 15px;
   
      text-align: center;
      
     
    }
      
    .osr:nth-child(1){
      width: 60%;
      padding-top: 60px;
    }
    
    .osr:nth-child(2){
      
      width: 50%;
      padding-top: 110px;
      padding-bottom: 0px;
      
      font-size: 11px;
      
    }

    .osr:nth-child(3){
    height: 240px;
    padding-top: 20px;
     
    }


    .osr img{
      width: 80%;
      height: auto;
      
    }
    
    .osr ul{
   
      list-style-position: outside;
      font-size: 19px;
      padding-left: 20px;
      line-height: 25px;
    }
    .osr h1{
   
      list-style-position: outside;
      font-size: 20px;
      padding-left: 40px;
      line-height: 22px;
    }

    
    
    .osr i{
      position: absolute;
      font-size: larger;
      top: 50%;
      left: -5%;
      transform: translate(2%, -10%);
      font-size: 12px;
    }
    


    #teacher_cont {
      width: 100%;
      height: 1270px;
 
     
      
    }
    #teacher_contt {
      width: 100%;
      height: 1270px;

    
    }
    
    #teacherr_contt {
      width: 100%;
      height: 1270px;
  
    
    }
    
    #teaccher_cont {
      width: 100%;
      height: 1270px;
    
    
    }
    #teachher_cont {
      width: 100%;
      height: 1270px;
   
    
    }

    
    .timg {
      width: 50%;
      height: 400px;
      position: absolute;
      font-size: 15px;
      top: 20px;
      left: 0%;

    }
    
    .timg img{
      width: auto;
      height: 80%;
    }
    
    .timg:hover{
      scale: 1.05;
    }
    
    
    
    .tim1{
      left: 0%;
    }
    
    .tim2{
      left: 50%;
    }
    
    .tim3{
      top: 410px;
      left: 0%;
    }
    
    .tim4{
      left: 50%;
      top: 410px;
    }
    
    .tim5{
      top: 810px;
      left: 0%;
    }
    
    
    .tim6{
      top: 810px;
      left: 50%;
    }
    
    .ctea{
      width: 20%;
      height: 30px;
      font-size: 16px;
      margin-top: 10px;
      line-height: 30px;
     overflow: hidden;
     
      
    }
    
    
    



}

@media only screen and (min-width: 1275px) {
    
  
    
    
  #container{
      width: 100%;
      height: 1730px;
     
   
      grid-template-areas: 
      
      'h h h h h h h h h h h h '
      'm m m m m m m m m m m r'
      'f f f f f f f f f f f f'
      ;
      
     
      
    }
    

    #header{
      width: 100%;
      height: 260px;
      grid-area: h;
     
      
    }

    #section_middol{
      width: 100%;
      height: 1470px;
      
      grid-area: m;
      position: relative;
      
    }

    #hederimg{
      width: 100%;
      height: 200px;
    }


  #hederimg img{
      width: 100%;
      height: 200px;
      
    }



    #nav{
      width: 100%;
      height: 60px;
      
      font-size: 23px;
    line-height: 60px;
    
    }




    #containner{
 
      width: 100%;
      height: 380px;

    }
  
    .slide{
     min-width: 100%;
      height: 380px; 
    }
    
  
    
    #next{
      
      font-size: 15px;
     
    }
    #prev{
      
      font-size: 15px;
     
    }
    #cont1{
      width: 100%;
      height: 1470px;
     
    }
    .mwrap {
      width: 100%;
      height: 460px;
      position: absolute; 
      top: 370px;
      padding: 20px;
      
      
    }
    
    .wrap {
      width: 46%;
      height: 330px;
     
      margin-top: 10px;
      position:absolute;
      
    
      
    }
    
    .wrap img{
      width: 100%;
      height: 80%;
    }
    
    
    .wrap:nth-child(2){
      transform: translateX(110%)
    }
    
    .wrap:nth-child(3){
      transform:  translateY(108%)
    }
    
    
    .wrap:nth-child(4){
      transform: translateX(110%) translateY(108%)
    }
    .wrap:nth-child(5){
      transform: translateX(52%) translateY(216%)
    }
    
    
    .wrap button{
      width: 50%;
      height: 40px;
      
      font-size: 18px;
     
    }
    



    #cont2{
      width: 100%;
      height: 1470px;
      
    }
    
    #cont3{
      width: 100%;
      height: 1470px;
     
    }
    

    #cont4{
      width: 100%;
      height: 1470px;
      font-size: 20px;
      line-height: 25px;
      padding: 15px;
     
    }
    
    #cont4 ul{
      padding-left: 20px;
      line-height: 29px;
      
     
    }

    #cont4 h2{
      
      line-height: 50px;
      
     
    }

    #cont5{
      width: 100%;
      height: 1470px;

     
    }

    #about_page{
      width: 100%;
      height: 900px;
    
    }
    
    #about_page input{
    width: 70%;
    height: 50px;
    font-size: 19px;
    line-height: 50px;
    
    
    }
    
    #about_page h1{
    
      font-size: 50px;
      
      
    }
    
    
    #about_page button{
      width: 40%;
      height: 50px;
      font-size: 22px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -10%);
      
    }
    
    #about_page input:nth-child(2){
      top: 40%;
    }
    
    #about_page input:nth-child(4){
      top: 60%;
    }
    
    #about_page input:nth-child(5){
      top: 70%;
    }
    
    #fotter{
      width: 100%;
      height: 50px;
      background-color:black;
      grid-area: f;
      color: whitesmoke;
      text-align: center;
      font-size: 22px;
      line-height: 50px;
    }
    #news_later{
      width: 90%;
      height: 200px;
  font-size: 15px;
    }
    
    #news_later input{
      width: 70%;
      height: 50px;
      font-size: 18px;
      top: 60%;
      left: 10%;
      transform: translate(-10%, -40%);
    }
    
    #news_later button{
      width: 120px;
      height: 50px;
      font-size: 20px;
      top: 60%;
      left:  79%;
      transform: translate(-10%, -40%);
    }


    #section_right{
      width: 100%;
      height: 1470px ;
      
    }
    
    #proimg{
      width: 100%;
      height: 250px;
    
    
    }
    #proimg img{
      width: auto;
      height: 240px;
    }
    
    
    
    
    
    #hed{
      width: 100%;
      height: 30px;
      font-weight: 1000;
      font-size: 16px;
      line-height: 30px;
    }
    
    #hed:nth-child(5){
      top: 390px;
    }
    
    
    #hed:nth-child(7){
      top: 680px;
    }
    
    
    #pmes{
      width: 100%;
      height: 300px;
     
      font-size: 18px;
      line-height: 20px;
      padding: 12px;
     
    }
    
    #addr{
      width: 100%;
      height: 150px;
      
      position: absolute;
      top: 750px;
      padding: 12px;
    }
    
    #addr ul{
      font-size: 18px;
      list-style-type: none;
      line-height: 25px;
    }
    
    #map{
      width: 100%;
      height: 320px;
      
      position: absolute;
      top: 1120px;
    }
    
    
    #map img{
      width: 100%;
      height: 100%;
    }



    #cosr{
      width: 100%;
      height: 280px;
  
     
      margin-top: 10px;
  display: flex;
      position: relative;
    
    }
    
    .osr{
      width: 100%;
      height: 280px;
     font-size: 15px;
   
      text-align: center;
      
     
    }
      
    .osr:nth-child(1){
      width: 70%;
      padding-top: 60px;
    }
    
    .osr:nth-child(2){
      
      width: 60%;
      padding-top: 110px;
      padding-bottom: 0px;
    
      font-size: 13px;
      
    }

    .osr:nth-child(3){
    height: 260px;
    padding-top: 20px;
     
    }


    .osr img{
      width: 80%;
      height: auto;
      
    }
    
    .osr ul{
   
      list-style-position: outside;
      font-size: 22px;
      padding-left: 20px;
      line-height: 33px;    }
    .osr h1{
   
      list-style-position: outside;
      font-size: 25px;
      padding-left: 40px;
      line-height: 22px;
    }

    
    
    .osr i{
      position: absolute;
      font-size: larger;
      top: 50%;
      left: -5%;
      transform: translate(2%, -10%);
      font-size: 12px;
    }
    


    #teacher_cont {
      width: 100%;
      height: 1270px;
 
     
      
    }
    #teacher_contt {
      width: 100%;
      height: 1270px;

    
    }
    
    #teacherr_contt {
      width: 100%;
      height: 1270px;
  
    
    }
    
    #teaccher_cont {
      width: 100%;
      height: 1270px;
    
    
    }
    #teachher_cont {
      width: 100%;
      height: 1270px;
   
    
    }

    
    .timg {
      width: 50%;
      height: 400px;
      position: absolute;
      font-size: 15px;
      top: 20px;
      left: 0%;

    }
    
    .timg img{
      width: auto;
      height: 80%;
    }
    
    .timg:hover{
      scale: 1.05;
    }
    
    
    
    .tim1{
      left: 0%;
    }
    
    .tim2{
      left: 50%;
    }
    
    .tim3{
      top: 410px;
      left: 0%;
    }
    
    .tim4{
      left: 50%;
      top: 410px;
    }
    
    .tim5{
      top: 810px;
      left: 0%;
    }
    
    
    .tim6{
      top: 810px;
      left: 50%;
    }
    
    .ctea{
      width: 20%;
      height: 30px;
      font-size: 16px;
      margin-top: 10px;
      line-height: 30px;
     overflow: hidden;
     
      
    }
    
    
    



}

@media only screen and (min-width: 1475px) {
    
 
    
  #container{
      width: 1475px;
      height: 1940px;
      
   
      grid-template-areas: 
      
      'h h h h h h h h h h h h '
      'm m m m m m m m m m m r'
      'f f f f f f f f f f f f'
      ;
      
     
      
    }
    

    #header{
      width: 100%;
      height: 280px;
      grid-area: h;
     
      
    }

    #section_middol{
      width: 100%;
      height: 1660px;
      
      grid-area: m;
      position: relative;
      
    }

    #hederimg{
      width: 100%;
      height: 220px;
    }


  #hederimg img{
      width: 100%;
      height: 220px;
      
    }



    #nav{
      width: 100%;
      height: 60px;
      
      font-size: 23px;
    line-height: 60px;
    
    }




    #containner{
 
      width: 100%;
      height: 420px;

    }
  
    .slide{
     min-width: 100%;
      height: 420px; 
    }
    
  
    
    #next{
      
      font-size: 15px;
     
    }
    #prev{
      
      font-size: 15px;
     
    }
    #cont1{
      width: 100%;
      height: 1660px;
     
    }
    .mwrap {
      width: 100%;
      height: 460px;
      position: absolute; 
      top: 410px;
      padding: 20px;
      
      
    }
    
    .wrap {
      width: 46%;
      height: 380px;
     
      margin-top: 10px;
      position:absolute;
      
    
      
    }
    
    .wrap img{
      width: 100%;
      height: 80%;
    }
    
    
    .wrap:nth-child(2){
      transform: translateX(110%)
    }
    
    .wrap:nth-child(3){
      transform:  translateY(108%)
    }
    
    
    .wrap:nth-child(4){
      transform: translateX(110%) translateY(108%)
    }
    .wrap:nth-child(5){
      transform: translateX(52%) translateY(216%)
    }
    
    
    .wrap button{
      width: 50%;
      height: 40px;
      
      font-size: 18px;
     
    }
    



    #cont2{
      width: 100%;
      height: 1660px;
      
    }
    
    #cont3{
      width: 100%;
      height: 1660px;
     
    }
    

    #cont4{
      width: 100%;
      height: 1660px;
      font-size: 25px;
      line-height: 26px;
      padding: 15px;
     
    }
    
    #cont4 ul{
      padding-left: 20px;
      line-height: 32px;
      
     
    }

    #cont4 h2{
      
      line-height: 60px;
      
     
    }

    #cont5{
      width: 100%;
      height: 1660px;

     
    }

    #about_page{
      width: 100%;
      height: 1000px;
    
    }
    
    #about_page input{
    width: 70%;
    height: 50px;
    font-size: 19px;
    line-height: 50px;
    
    
    }
    
    #about_page h1{
    
      font-size: 50px;
      
      
    }
    
    
    #about_page button{
      width: 40%;
      height: 50px;
      font-size: 22px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -10%);
      
    }
    
    #about_page input:nth-child(2){
      top: 40%;
    }
    
    #about_page input:nth-child(4){
      top: 60%;
    }
    
    #about_page input:nth-child(5){
      top: 70%;
    }
    
    #fotter{
      width: 100%;
      height: 50px;
      background-color:black;
      grid-area: f;
      color: whitesmoke;
      text-align: center;
      font-size: 22px;
      line-height: 50px;
    }
    #news_later{
      width: 90%;
      height: 200px;
  font-size: 15px;
    }
    
    #news_later input{
      width: 70%;
      height: 50px;
      font-size: 18px;
      top: 60%;
      left: 10%;
      transform: translate(-10%, -40%);
    }
    
    #news_later button{
      width: 120px;
      height: 50px;
      font-size: 20px;
      top: 60%;
      left:  79%;
      transform: translate(-10%, -40%);
    }


    #section_right{
      width: 100%;
      height: 1660px ;
      
    }
    
    #proimg{
      width: 100%;
      height: 250px;
    
    
    }
    #proimg img{
      width: auto;
      height: 240px;
    }
    
    
    
    
    
    #hed{
      width: 100%;
      height: 30px;
      font-weight: 1000;
      font-size: 16px;
      line-height: 30px;
    }
    
    #hed:nth-child(5){
      top: 390px;
    }
    
    
    #hed:nth-child(7){
      top: 700px;
    }
    
    
    #pmes{
      width: 100%;
      height: 300px;
     
      font-size: 18px;
      line-height: 25px;
      padding: 12px;
     
    }
    
    #addr{
      width: 100%;
      height: 150px;
      
      position: absolute;
      top: 800px;
      padding: 12px;
    }
    
    #addr ul{
      font-size: 20px;
      list-style-type: none;
      line-height: 25px;
    }
    
    #map{
      width: 100%;
      height: 320px;
      
      position: absolute;
      top: 1220px;
    }
    
    
    #map img{
      width: 100%;
      height: 100%;
    }



    #cosr{
      width: 100%;
      height: 320px;
  
     
      margin-top: 10px;
  display: flex;
      position: relative;
    
    }
    
    .osr{
      width: 100%;
      height: 320px;
     font-size: 15px;
   
      text-align: center;
      
     
    }
      
    .osr:nth-child(1){
      width: 100%;
      padding-top: 60px;
    }
    
    .osr:nth-child(2){
      
      width: 80%;
      padding-top: 110px;
      padding-bottom: 0px;
    
      font-size: 16px;
      
    }

    .osr:nth-child(3){
    height: 260px;
    padding-top: 30px;
     
    }


    .osr img{
      width: 80%;
      height: auto;
      
    }
    
    .osr ul{
   
      list-style-position: outside;
      font-size: 22px;
      padding-left: 30px;
      line-height: 33px;    }
    .osr h1{
   
      list-style-position: outside;
      font-size: 28px;
      padding-left: 40px;
      line-height: 22px;
    }

    
    
    .osr i{
      position: absolute;
      font-size: larger;
      top: 50%;
      left: -5%;
      transform: translate(2%, -10%);
      font-size: 12px;
    }
    


    #teacher_cont {
      width: 100%;
      height: 1270px;
 
     
      
    }
    #teacher_contt {
      width: 100%;
      height: 1270px;

    
    }
    
    #teacherr_contt {
      width: 100%;
      height: 1270px;
  
    
    }
    
    #teaccher_cont {
      width: 100%;
      height: 1270px;
    
    
    }
    #teachher_cont {
      width: 100%;
      height: 1270px;
   
    
    }

    
    .timg {
      width: 50%;
      height: 400px;
      position: absolute;
      font-size: 15px;
      top: 20px;
      left: 0%;

    }
    
    .timg img{
      width: auto;
      height: 80%;
    }
    
    .timg:hover{
      scale: 1.05;
    }
    
    
    
    .tim1{
      left: 0%;
    }
    
    .tim2{
      left: 50%;
    }
    
    .tim3{
      top: 410px;
      left: 0%;
    }
    
    .tim4{
      left: 50%;
      top: 410px;
    }
    
    .tim5{
      top: 810px;
      left: 0%;
    }
    
    
    .tim6{
      top: 810px;
      left: 50%;
    }
    
    .ctea{
      width: 20%;
      height: 30px;
      font-size: 16px;
      margin-top: 10px;
      line-height: 30px;
     overflow: hidden;
     
      
    }
    
    
    



}
