*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:max-content;
  background-color: whitesmoke;
}

#container{
  width: 100%;
  height: max-content;
  position: relative;
  margin: 0 auto;
  background-color: aliceblue;
  display: grid;
  grid-template-areas: 
  
  'h h h h h h h h h h h h '
  'm m m m m m m m m m m r'
  'f f f f f f f f f f f f'
  ;
  
 
  
}

#header{
  width: 100%;
  height: 250px;
  background-color: rgb(169, 214, 214);
  grid-area: h;
  position: relative;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}



#section_middol{
  width: 100%;
  height: 1060px;
  
  grid-area: m;
  position: relative;
  
}

#fotter{
  width: 100%;
  height: 25px;
  background-color:black;
  grid-area: f;
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}


#hederimg{
  width: 100%;
  height: 200px;
}
#hederimg img{
  width: 100%;
  height: 100%;
  
}


#cont1{
  width: 100%;
  height: 1060px;
  position: absolute;
  background-color: #e0def8;
  z-index: 1;
}

#containner{
   
  width: 100%;
  height: 400px;
  position:absolute;
  overflow: hidden;
  
  
}
#imgcont{
  height: 100%;
  display: flex;
}
.slide{
 min-width: 100%;
  height: 400px; 
}

.slide img{
  width: 100%;
  height: 100%;
  
  object-position: center;
}

#next{
  position: absolute;
  color: #6633FF;
  font-size: 50px;
  z-index: 1;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%); 
}
#prev{
  position: absolute;
  color: #6633FF;
  font-size: 50px;
  z-index: 1;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%); 
}



.mwrap {
  width: 100%;
  height: 660px;
  position: absolute; 
  top: 400px;
  padding: 20px;
  
  
}

.wrap {
  width: 30%;
  height: 300px;
 
  
  position: absolute;
  

  
}

.wrap img{
  width: 100%;
  height: 80%;
}


.wrap:nth-child(2){
  transform: translateX(108%)
}

.wrap:nth-child(3){
  transform:  translateX(216%)
}


.wrap:nth-child(4){
  transform: translateX(52%) translateY(320px)
}
.wrap:nth-child(5){
  transform: translateX(160%) translateY(320px)
}


.wrap button{
  width: 50%;
  height: 40px;
  background-color: rgb(86, 129, 75);
  color: whitesmoke;
  font-size: 18px;
  border: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}




#nav{
  width: 100%;
  height: 40px;
  background-color: #6633FF;
  font-size: 20px;
line-height: 40px;
bottom: 0px;
text-align: center;
justify-content: center;
cursor: pointer;
display: flex;
}

.meno{
width: 100%;
height: 40px;
color: rgb(86, 121, 112);
background-color: rgb(181, 212, 204);
font-weight: 1000;
border-right: 2px solid rgb(86, 121, 112);;
}

.meno:last-child{
  border-right: none;
}



#cont2{
  width: 100%;
  height: 1060px;
  position: absolute;
  background-color: rgb(194, 235, 227);
  z-index: -1;
  overflow: hidden;
  
}

#cont3{
  width: 100%;
  height: 1060px;
  position: absolute;
  background-color: aliceblue;
  z-index: -2;
}

#cont4{
  width: 100%;
  height: 1060px;
  position: absolute;
  background-color: aliceblue;
  z-index: -2;
  text-align: justify;
  font-size: 18px;
  line-height: 18px;
  padding: 30px;
}

#cont4 ul{
  padding-left: 20px;
  line-height: 30px;
  list-style-type: decimal;
 
}



#cont5{
  width: 100%;
  height: 1060px;
  position: absolute;
  background-color: rgba(202, 222, 240, 0.89);
  z-index: -2;
}


#teacher_cont {
  width: 100%;
  height: 660px;
  position: absolute;
  margin: 0 auto;
  background-color: rgb(194, 235, 227);
  top: 40px;
 
  
}
#teacher_contt {
  width: 100%;
  height: 660px;
  position: absolute;
  margin: 0 auto;
  background-color: rgb(194, 235, 227);
 
  top: 40px;
  z-index: -1;

}

#teacherr_contt {
  width: 100%;
  height: 660px;
  position: absolute;
  margin: 0 auto;
  background-color: rgb(194, 235, 227);
 
  top: 40px;
  z-index: -2;

}

#teaccher_cont {
  width: 100%;
  height: 660px;
  position: absolute;
  margin: 0 auto;
  background-color: rgb(194, 235, 227);
 
  top: 40px;
  z-index: -2;

}
#teachher_cont {
  width: 100%;
  height: 660px;
  position: absolute;
  margin: 0 auto;
  background-color: rgb(194, 235, 227);
 
  top: 40px;
  z-index: -4;

}

.timg {
  width: 30%;
  height: 300px;
  color: rgb(86, 121, 112);
  position: absolute;
  top: 20px;
  left: 3%;
 transition: all 0.6s;
 text-align: center;

list-style: 20px;

}

.timg img{
  width: auto;
  height: 90%;
}

.timg:hover{
  scale: 1.05;
}





.tim2{
  left: 35%;
}

.tim3{
  left: 67%;
}



.tim4{
  top: 340px;
}

.tim5{
  top: 340px;
  left: 35%;
}


.tim6{
  top: 340px;
  left: 67%;
}

.ctea{
  width: 20%;
  height: 40px;
  font-size: 20px;
  color:black;
  background-color: whitesmoke;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid rgb(41, 40, 40) ;
  position: absolute;
 
  
}

.ctea:nth-child(2){
  left: 20%;
}
.ctea:nth-child(3){
  left: 40%;
}
.ctea:nth-child(4){
  left: 60%;
}
.ctea:nth-child(5){
  left: 80%;
  border: none;
}





#cosr{
  width: 100%;
  height: 200px;
  background-color: #f2f1fa;
 
  margin-top: 10px;
  display: flex;
  position: relative;

}

.osr{
  width: 100%;
  height: 200px;
 
  position: relative;
  text-align: center;
  
 
}
  

.osr:nth-child(1){
  width: 35%;
}

.osr:nth-child(2){
  width: 40%;
  padding-top: 80px;
  padding-bottom: 50px;
}

.osr img{
  width: 100%;
  height: 100%;
  
}

.osr ul{
  text-align: left;
  list-style-type: lower-greek;
  list-style-position: inside;
  font-size: 22px;
  padding-left: 20px;
  line-height: 30px;
}


.osr i{
  position: absolute;
  font-size: larger;
  top: 50%;
  left: -2%;
  transform: translate(2%, -50%);
}










#about_page{
  width: 100%;
  height: 530px;
 top: 10%;
  position: absolute;
}

#about_page input{
width: 50%;
height: 50px;
background-color: rgb(229, 236, 234);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 25px;
line-height: 50px;
border: none;
border-radius: 10px;
padding-left: 10px;
outline: none;

}

#about_page h1{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -80%);
  
}


#about_page button{
  width: 50%;
  height: 50px;
  color: rgb(82, 104, 104);
  background-color: rgb(222, 243, 237);
  position: absolute;
  font-size: 30px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -10%);
  border: none;
  border-radius: 10px;
}

#about_page input:nth-child(2){
  top: 36%;
}

#about_page input:nth-child(4){
  top: 64%;
}

#about_page input:nth-child(5){
  top: 78%;
}


#news_later{
  width: 80%;
  height: 150px;
  background-color: rgb(227, 233, 233);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  padding-top: 10px;
  border-radius: 20px;
}

#news_later input{
  width: 60%;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-20%, -40%);
  outline: none;

}

#news_later button{
  width: 100px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-20%, -40%);
}







#section_right{
  width: 100%;
  height: 1060px
;
  background-color: rgb(239, 248, 230);
  grid-area: r;
 
  position: relative;
}

#proimg{
  width: 100%;
  height: 200px;
 
  position: relative;

}
#proimg img{
  width: auto;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}





#hed{
  width: 100%;
  height: 40px;
  color: rgb(98, 86, 121);
  background-color:  rgb(181, 194, 212);
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  position: relative;
  font-weight: 1000;
  font-size: 20px;
  line-height: 40px;
}

#hed:nth-child(5){
  top: 275px;
}


#hed:nth-child(7){
  top: 450px;
}



#pmes{
  width: 100%;
  height: 270px;
 
  font-size: 18px;
  padding: 10px;
 
  text-align: justify;
 
  position: absolute;
}

#addr{
  width: 100%;
  height: 150px;
  
  position: absolute;
  top: 610px;
  padding: 5px;
}

#addr ul{
  font-size: 22px;
  list-style-type: none;
  line-height: 30px;
}

#map{
  width: 100%;
  height: 230px;
  
  position: absolute;
  top: 820px;
}


#map img{
  width: 100%;
  height: 100%;
}